/* Responsive Breakpoints */
/* Desktop: 992px and above = md*/
/* Tablet: 768px - 991px  = sm*/
/* Mobile: <=767px  = xs*/

/* UNIVERSAL */
* {
  box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

/* HEADER */

#header-nav {
  background-color: #bbbbbb;
  border: 0;
  border-radius: 0;
  padding-top: 0;
}

.navbar-header {
  height: 4em;
}

.navbar-brand {
  font-weight: bold;
  margin: 0;
}

.container h1 {
  margin-bottom: 1em;
}

#nav-list {
  text-align: center;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list a {
  background-color: #ffffff;
  border: 1px solid #000000;
}

.menu-card {
  border: none;
  background-color: gray;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* FOOD NAMES DIV */

#chicken,
#beef,
#sushi {
  text-align: center;
}
